{% extends "admin/change_form.html" %} 
{% load i18n %}


{% block field_sets %}
    {{ block.super }}
    
    {% if adminform.form.instance.id %}
        {% if request.is_secure %}
            <a href="https://{{ request.get_host }}/editPost/{{ adminform.form.instance.id }}/">Редактировать страницу</a>
        {% else %}
            <a href="http://{{ request.get_host }}/editPost/{{ adminform.form.instance.id }}/">Редактировать страницу</a>
        {% endif %}
        
    {% endif %}
    
{% endblock %}

