{% extends 'app/base.html' %}
{% load static %}

{% block connectCSS %}
<link rel="stylesheet" href="{% static 'app/css/index.css'%}?ver={{ appVersion }}">
{% endblock %}



{% block content %}
<div class="label-travel">
    <h1 class="gradient-font">ПУТЕШЕСТВИЕ</h1>
    <h3 class="gradient-font">на красную планету</h3>
</div>

<div class="cards">
    <table>
        <tr>
            <td>
                <div class="card"><p class="gradient-font left-card">мы<br><b>1</b><br>на рынке</p></div>
            </td>
            <td>
                <div class="card"><p class="gradient-font right-card">гарантируем<br><b>50%</b><br>безопасность</p></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card"><p class="gradient-font left-card">календарик за<br><b>2001</b>г.<br>в подарок</p></div>
            </td>
            <td>
                <div class="card"><p class="gradient-font right-card">путешествие<br><b>500</b><br>дней</p></div>
            </td>
        </tr>
    </table>
</div>

<div class="button-div">
    <button id="spacex-btn" onclick="start_rocket()">Начать путешествие</button>
</div>


<img id="rocket" src="{% static 'app/mediaM/rocket.png'%}" alt="rocket">

<div id="translationFLY" ></div>
{% endblock %}



{% block connectJS %}
    <script src="{% static 'app/js/rocket.js'%}?ver={{ appVersion }}"></script>
{% endblock %}
